In [18]:
# Import Splinter and BeautifulSoup 
from splinter import Browser 
from bs4 import BeautifulSoup as soup 
import pandas as pd

In [5]:
# Set the executable path and intitialize the chrome browser in splinter 
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path)

In [6]:
# Visit the mars nasa news site 
url = 'https://mars.nasa.gov/news'
browser.visit(url)

# Optional delay for loading the page
# Accomplishing 2 things here
# 1. we're searching for elements with a specific combination of tag (ul and li) and attribute(item_list and slide)
# 2. we're also telling browser to wait one second before searching for components. Good for dynamic websites to 
# give it time to load - especially if image heavy 
browser.is_element_present_by_css("ul.item_list li.slide", wait_time=1)

True

In [7]:
# Set up HTML parser
html = browser.html 
news_soup = soup(html, 'html.parser')
slide_elem = news_soup.select_one('ul.item_list li.slide')

In [8]:
slide_elem.find("div", class_='content_title')

In [9]:
# Use the parent element to find the first 'a' tag and save it as 'news_title'
news_title = slide_elem.find("div", class_='content_title').get_text()
news_title

"5 Hidden Gems Are Riding Aboard NASA's Perseverance Rover"

In [10]:
# Use the parent element to find the paragraph text 
news_p = slide_elem.find('div', class_="article_teaser_body").get_text()
news_p

"The symbols, mottos, and small objects added to the agency's newest Mars rover serve a variety of purposes, from functional to decorative."

### Featured Images

In [11]:
# Visit the url
url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url)

In [12]:
# Find the click the full image button
full_image_elem = browser.find_by_id('full_image')
full_image_elem.click()

In [13]:
# Find the more info button and click that 
# useful Splinter func is the ability to search for HTML elements by text
# 1.uses is_element_present_by_text() method-once executed it will return a boolean T or F to let us know if there
browser.is_element_present_by_text('more info', wait_time=1)
# 2. create variable where we employ the browser.links.find method - this will take our string 'more info' to find
# the link associated with the "more info" text 
more_info_elem = browser.links.find_by_partial_text('more info')
# 3. tell splinter to click it 
more_info_elem.click()

In [14]:
# Parse the resulting html with soup 
html = browser.html
img_soup = soup(html, 'html.parser')

In [16]:
# Find the relative image url 
img_url_rel = img_soup.select_one('figure.lede a img').get("src")
img_url_rel

'/spaceimages/images/largesize/PIA16884_hires.jpg'

In [17]:
# Use the base URL to create an absolute URL 
img_url = f'https://www.jpl.nasa.gov{img_url_rel}'
img_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA16884_hires.jpg'

In [20]:
df = pd.read_html('http://space-facts.com/mars/')[0]
df.columns=['description', 'value']
df.set_index('description', inplace=True)
df

                                              value
description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [21]:
df.to_html()

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>value</th>\n    </tr>\n    <tr>\n      <th>description</th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [22]:
browser.quit()